.body-text-cesar {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: #035992;
  font-weight: 500;
  text-align: right;
  margin-top: 3rem;
}

.body-text-cesar span {
  font-family: 'Roboto', sans-serif;
  color: #00ace7;
}

.body-description {
  text-align: right;
  color: #666666;
  font-size: 20px;
}

.second-column {
  text-align: center;
  border-top: 2px solid #1c98d8;
  border-bottom: 2px solid #1c98d8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.features-title {
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  font-weight: 500;
  color: #afafaf;
  text-align: center;
  margin-bottom: 0;
  margin-top: .5rem;
}

.chart {
  position: absolute;
  top: 1.8rem;
  left: 4.5rem;
  z-index: 1;
}

.par {
  margin-top: 5rem;
  position: relative;
}

.inpar {
  position: relative;
}

.inpar-chart {
  top: 8.2rem;
}

.features-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
  color: #afafaf;
  text-align: center;
  margin-top: -1rem;
}

.line-right {
  border-right: 2px solid #1c98d8;
}

.animation-chart-1 {
  animation: spin 2s infinite alternate;
  -webkit-animation: spin 2s infinite alternate;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@-webkit-keyframes spin {
  0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

.animation-chart-2 {
  animation: side .5s infinite alternate;
  -webkit-animation: side .5s infinite alternate;
}

@keyframes side {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-20px);
  }
}
@-webkit-keyframes side {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-20px);
  }
}

.animation-chart-3 {
  animation: bounce .5s infinite alternate;
  -webkit-animation: bounce .5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.animation-box-4 {
  background: #1abc9c;
}

.animation-chart-4 {
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.animation-chart-4:hover {
  opacity: .5;
}

@media only screen and (max-width: 500px) {
  .body-description {
    text-align: center;
  }

  .second-column {
    font-size: 18px;
  }

  .chart {
    left: 8.5rem;
  }

  .inpar-chart {
    top: -2.8rem;
  }

  .line-right {
    border-right: 0px;
  }
}