<div class="body-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <p class="body-text-cesar">That's Cesar's world
          <span>HARSH REALITY </span>
        </p>
        <p class="body-description">
          Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid
          with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness
          is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to
          pay the price.
        </p>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col-sm-12">
            <p class="body-text-cesar second-column">List style: Circles.
              <span>FEATURING FEATURES </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 line-right">
            <img src="./assets/user.png" class="chart animation-chart-1" alt="user" />
            <p class="features-title par">USER</p>
            <p class="features-subtitle">PROFILES</p>
          </div>
          <div class="col-sm-12 col-md-3 line-right">
            <img src="./assets/barchart.png" class="chart inpar-chart animation-chart-2" alt="user" />
            <p class="features-title">SOME</p>
            <p class="features-subtitle inpar">GRAPHS</p>
          </div>
          <div class="col-sm-12 col-md-3 line-right">
            <div class="animation-box-3">
              <img src="./assets/chat.png" class="chart animation-chart-3" alt="chat" />
            </div>
            <p class="features-title par">MULTI</p>
            <p class="features-subtitle">CHATS</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <div class="animation-box-4">
              <img src="./assets/mail.png" class="chart inpar-chart animation-chart-4" alt="user" />
            </div>
            <p class="features-title">MANY</p>
            <p class="features-subtitle inpar">EMAILS</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>