<div class="header-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm first-box">
        <p class="title-header-blue">Prueba de </p>
        <p class="title-header-green">Theming</p>
        <img src="./assets/apple-led.png" class="apple-led" alt="Led Apple" />
      </div>
      <div class="col-sm">
        <img src="./assets/Layer-2.png" class="first-layer" alt="Led Apple" />
        <div class="textbox-image">
          <p class="image-text-white">We're on the same curve</p>
          <p class="image-text-light-blue">
            Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't
            get sick, I do. That's also clear.
          </p>
        </div>
        <p class="opposite-text">Just opposite ends</p>
        <p class="oppotsite-text-down">
          But for some reason, you and I react the exact same way to water. We shallow it too fast, we choke. We get some in our lungs,
          we drown. However unreal it may seem, we are connected, you and I. we're on the same curve, just on opposite ends.
        </p>

        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
    </div>
  </div>
</div>